/* _base.scss */
/* Base styles shared across views */




header {
    position:relative;
    height:80%;
    z-index: -99;

    @include bgImgCover-mixin("../img/site/DClifton_background_LO.jpg");


    #dc-logo {
        @include center-mixin;
        padding:0 10px;
        max-height: 200px;
    }


    // THIS PLACES THE TOPBAR NAV OVER THE HEADER BG IMAGE.. 
    margin-bottom:-45px;
}




// THIS RESTORES THE BOTTOM-MARGIN WHEN THE TOPBAR NAV GOES STICKY.. 
.f-topbar-fixed{
    header{
        margin-bottom:0px;
    }
}









.mainContent{
//     // margin:2em auto;
    img {
        // margin-bottom:1em;
    }
}   






#navLogo{
    opacity:0;
    @include animation(0, 0.5s, fadeOut, 1);

    height:35px;
    width:155px;

    margin-top:-3px;
    position:absolute; //top:-3px;
}









// CENTERS THE NAV ITEMS
nav.top-bar {
    text-align:center;// CENTERS THE NAV ITEMS
    background-color:transparent;// REMOVES BG COLOR
}
section.top-bar-section {
    display: inline-block;// CENTERS THE NAV ITEMS
    li {
        background-color:transparent; // REMOVES BG COLOR
    }
}




.top-bar-section ul li {
    background:none;
}





@include keyframe(fadeIn) {
  0% {  opacity: 0; 
        top:-0.5em
    }
  100% { opacity: 1; 
         top:0em;
    }
}
@include keyframe(fadeOut) {
  0% {  opacity: 1; 
    }
  100% { opacity: 0; 
    }
}
@include keyframe(bgColor) {
  0% {  
        background-color:$topbar-bg;
    }
  100% { 
        background-color:$oil;
    }
}




.f-topbar-fixed{
    .sticky{
        @include animation(0, 1s, bgColor, 1);
        background-color:$oil;
    }
    #navLogo{
        // display:block;
        @include animation(0, 1s, fadeIn, 1);
        opacity:1;
    }
}


































.welcome-msg {
    // height:5em;
    margin:2.5em auto;
    // padding:2em;
    // background-color:$dc-light-grey;
    
    // @include border-radius(1em);

    max-width:400px;
    

    h2{
        text-align: center;
    }
    p{
        margin:0; padding:0;
        text-align: center;
    }


}






footer {
    margin-top:3em;
    text-align: center;

    .row{
        padding-top:1em;
        border-top:1px solid $dc-warm-grey;
    }


}






.focusBlock{
    background-color:$dc-light-grey;
    // border:1px solid $dc-warm-grey;
}























