/* _styleguide-screen-lg.scss */

/* Styles for Large View @min-width: 52em (900px, Desktop, Landscape, e.g.) */

/* ---------------------------------------------------------------------
 Test Module 
------------------------------------------------------------------------ */
.mod-viewport {
    background: $purple;
}

.mod-viewport:after {
	content: 'lg';
}

/* ---------------------------------------------------------------------
 Generic Defs
------------------------------------------------------------------------ */
a:hover {
    color: $white;
}