/* _palette.scss */

/* ---------------------------------------------------------------------
 Project Styleguide
------------------------------------------------------------------------ */




// THESE ARE TAKEN FROM THE PROVIDED
// DAVID CLIFTON BRANDIN STYLE GUIDE:
$dc-warm-grey: #877f7d;
$dc-highlight-gold: #d7771a;

$dc-light-grey: #efefef;

$dc-nice-blue: #325180;








/* Colors */
$munsell: #00B8F2;

$facebook: #3b5998;
$pinterest: #c92228;
$instagram: #517fa4;
$twitter: #00aced;


/* Grays */
$black: #000;
$blerch: #444658;
$dark: #292a33;
$murky: #323232;
$mud: #564a40;
$clay: #70635a;
$cement: #969696;
$white: #fff;


/* Viewport Module Palette */
$red: #f00; /* base */
$orange: #f30; /* screen-xxs */
$yellow: #fc0; /* screen-xs */
$green: #6c0; /* screen-sm */
$blue: #03c; /* screen-md */
$purple: #60c; /* screen-lg */
$pink: #c09; /* screen-xl */


